.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    border-radius: 10px;
}

.config-section {
    margin: 20px 0;
    padding: 15px;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.config-section h3 {
    color: navy;
}

.config-section label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/*dd*/

h2, h3 {
    color: navy;
}
.config-section {
    margin: 20px 0;
    padding: 15px;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.config-section .details {
    display: none;
    margin-top: 15px;
}
.config-section label {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 15px;
}
.config-section label input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: navy;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background: navy;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
button:hover {
    background: lightblue;
    color: navy;
}
textarea {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: monospace;
}
/* Hero Section */
.hero {
background: linear-gradient(to bottom, navy, #003366);
color: white;
text-align: center;
padding: 4rem 1rem;
}

.hero-content h2 {
margin-bottom: 1rem;
font-size: 55px;
color: silver;        
}